.button {
  display: block;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  background: none;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  width: 150px;
}
